@import 'colors';
@import 'media-queries';

%align-center{
    display: flex;
    align-items: center;
}

.navbar{

    background: $third;
    height: 60px;
    display: flex;
    justify-content: space-between;
    ;
    z-index: 10;
    position: relative;
    

    .navbar__links{

        display: flex;
        list-style: none;
        justify-content: space-between;
        align-items: center;
        color: $primary;
    }

    .navbar__logo{
        color: $primary;
        cursor: pointer;
        text-decoration: none;
        font-size: 2rem;
        margin-left: 20px;
        @extend %align-center;
    }

    &__burger{
        opacity: 0;


        @include tablet{
            color: $primary;
            opacity: 1;
            position: absolute;
            top: 15px;
            right: 20px;
            font-size: 2rem;
        }
    }

    .navbar__burger:hover{
        color:  #7a796f;
        -webkit-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
    }

    &__menu{
        

        @extend %align-center;
        list-style: none;
        text-align: center;
        margin-right: 1px;

        @include tablet{
            display: none;

            //Er noe fakky med media queries og menyen//
            
            margin-top: 60px;
            margin-right: 0;
            opacity: 100%;
            background-color: $secondary;
            height: 180px;
            max-height: 180px;

        }

        &--links{
            @extend %align-center;
            color: $primary;
            
            text-decoration: none;
            text-transform: uppercase;
            padding: 1.3rem;
            margin-right: 0%;
            &:hover{
                color: $primary *1.5;
                transition: 1.5s ease-in-out;
                background-color: $secondary * 0.5;
            }
        }


    }

    

}