@import 'navbar';
@import 'colors';

*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero {
    background-image: url("/images/pasta.jpg");
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }