@use 'navbar';
@use 'colors';
@use 'meyers-reset-modified';
@use 'main-footer';

.hero {
    background-image: url("/images/pasta.jpg");
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 1200px;

        @include tablet{
            grid-template-columns: 1fr;
            height: 100%;
        }
    }
  }